body {}
a:link {text-decoration: none;}
button {outline: none;}
h1, h2, h3, h4, h5, h6, a, p {font-family: 'Roboto Condensed', sans-serif;}
.mg-t-1 {margin-top: 1em;}
.mg-t-2 {margin-top: 2em;}
.mg-t-3 {margin-top: 3em;}
.mg-t-4 {margin-top: 4em;}
.mg-t-5 {margin-top: 5em;}
.mg-t-6 {margin-top: 6em;}
.mg-t-7 {margin-top: 7em;}
.mg-t-8 {margin-top: 8em;}
.mg-t-9 {margin-top: 9em;}
.mg-t-10 {margin-top: 10em;}
.mg-b-1 {margin-bottom: 1em;}
.mg-b-2 {margin-bottom: 2em;}
.mg-b-3 {margin-bottom: 3em;}
.mg-b-4 {margin-bottom: 4em;}
.mg-b-5 {margin-bottom: 5em;}
.mg-b-6 {margin-bottom: 6em;}
.mg-b-7 {margin-bottom: 7em;}
.mg-b-8 {margin-bottom: 8em;}
.mg-b-9 {margin-bottom: 9em;}
.mg-b-10 {margin-bottom: 10em;}

.pdg-0 {padding: 0;}

.wrap-header {display: flex; justify-content: space-between; align-items: center;}
.logo {
	width: 200px; 
	position: absolute;
	left: 0; 
	top: 0; 
	border-radius: 0 0 20px 0; 
	background-image: -moz-linear-gradient( 90deg, rgb(122,204,200) 0%, rgb(99,169,228) 66%, rgb(76,134,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(122,204,200) 0%, rgb(99,169,228) 66%, rgb(76,134,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(122,204,200) 0%, rgb(99,169,228) 66%, rgb(76,134,255) 100%);
	display: flex;
	justify-content: center;
	align-items:
	center;
	padding: 45px 15px 30px;
	z-index: 10;
}
.menu {margin-left: 200px; padding: 20px 20px 0; width: 100%;}

.btn-ex {
	border-radius: 4px;
	background-image: -moz-linear-gradient( 4deg, rgb(252,206,1) 0%, rgb(254,187,1) 47%, rgb(255,168,0) 100%);
	background-image: -webkit-linear-gradient( 4deg, rgb(252,206,1) 0%, rgb(254,187,1) 47%, rgb(255,168,0) 100%);
	background-image: -ms-linear-gradient( 4deg, rgb(252,206,1) 0%, rgb(254,187,1) 47%, rgb(255,168,0) 100%);
	width: 326px;
	height: 52px;
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	padding: 13px 0;
	outline: none;
}

.top-menu {display: flex; justify-content: space-between; align-items: center;}
.phone {
  font-size: 30px;
  color: rgb(202, 35, 35);
  font-weight: bold;
}
.bottom-menu {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}
.bottom-menu a{
  font-size: 23px;
  color: rgb(19, 19, 19);
  position: relative;
  display: block;
}
.bottom-menu a::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 38px;
	background-color: #dddddd;
	right: -60px;
}
#bt-menu-last::before {display: none;}

.slaid-1 h1 {
	font-weight: bold;
	line-height: 1.7;
	text-align: center;
	color: #ffffff;
}

.slaid-1 {
	background: url(/img/slaid-1.jpg) no-repeat left top;
	background-size: 100%;
	width: 100%;
	height: 633px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.open-form {
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgba(122,204,200,.7) 0%, rgba(99,169,228,.7) 66%, rgba(76,134,255,.7) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(122,204,200,.7) 0%, rgba(99,169,228,.7) 66%, rgba(76,134,255,.7) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(122,204,200,.7) 0%, rgba(99,169,228,.7) 66%, rgba(76,134,255,.7) 100%);
  width: 100%;
  max-width: 485px;
  margin: 0 auto;
  padding: 25px 30px;
  text-align: left;
}
.l-txt-1 {
  font-size: 16px;
  color: rgb(19, 19, 19);
  font-weight: bold;
  line-height: 1.621;
  text-align: center;
  margin-bottom: 20px;
}
#f-tel {width: 100%; border-radius: 3px; text-align: center; border: none; outline: none; padding: 7px 10px 9px 10px; margin-bottom: 10px;}
#check {text-align: left;}
.btn-send {
	border-radius: 4px;
	background-image: -moz-linear-gradient( 4deg, rgb(252,206,1) 0%, rgb(254,187,1) 47%, rgb(255,168,0) 100%);
	background-image: -webkit-linear-gradient( 4deg, rgb(252,206,1) 0%, rgb(254,187,1) 47%, rgb(255,168,0) 100%);
	background-image: -ms-linear-gradient( 4deg, rgb(252,206,1) 0%, rgb(254,187,1) 47%, rgb(255,168,0) 100%);
	width: 100%;
	height: 52px;
	border: none;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	padding: 13px 0;
	outline: none;
}
#f-tel::-webkit-input-placeholder { color: rgb(19, 19, 19); text-decoration: underline; font-size: 14px; font-weight: 500;}
#f-tel::-moz-placeholder          { color: rgb(19, 19, 19); text-decoration: underline; font-size: 14px; font-weight: 500;}
#f-tel:-moz-placeholder           { color: rgb(19, 19, 19); text-decoration: underline; font-size: 14px; font-weight: 500;}
#f-tel:-ms-input-placeholder      { color: rgb(19, 19, 19); text-decoration: underline; font-size: 14px; font-weight: 500;}


#check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}
#check + label {
  position: relative;
  padding: 7px 0 0 30px;
  cursor: pointer;
  margin-bottom: 20px;
}
#check + label:before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  border-radius: 2px;
  background: #ffffff;
  transition: .2s;
  top: 10px;
}

#check:checked + label:before {
  opacity: 1;
  background: url(/img/checked.png) no-repeat center;
  background-color: #ffffff;
  left: 0;
}
.main-slaider .owl-nav {position: absolute; top: 0; bottom: 0;}
.main-slaider .owl-dots {display: none;}

.main-slaider .owl-nav button.owl-next {
	right: 20px;
} 
.main-slaider .owl-nav button.owl-next::before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(/img/fa-arrow-right.png) no-repeat center;
} 
.main-slaider .owl-nav button.owl-prev {
	left: 20px;
}
.main-slaider .owl-nav button.owl-prev::before {
	left: 20px;
}

