.reviews-slaider .owl-nav button.owl-next::before {left: 220px;} .reviews-slaider .owl-nav button.owl-prev::before {right: 220px;}
.main-slaider .owl-nav button.owl-next::before {left: 220px;} .main-slaider .owl-nav button.owl-prev::before {right: 220px;}
.znakom.h-563 {min-height: 540px;} .btn_red {bottom: -20%;} .down-footer p {max-width: 530px;}
.wrap-popup {max-width: 560px;} .bg-up-footer {height: 145px;}
.main-slaider .open-form {max-width: 420px;}