.tur {width: 280px; } .slaid-1 h1 {font-size: 18px;} .standart-h1 {font-size: 18px;} .sochi-price {position: relative; padding: 0;}
.znakom-txt {padding: 0 5px;} .znakom {min-height: auto;} .footer-form {width: 100%; flex-wrap: wrap;} .wrap-footer h1 {width: 100%;} .wrap-footer {flex-wrap: wrap; text-align: center;}
#f-phone {margin: 10px 0;} .bg-up-footer {height: 210px;} .down-footer {flex-wrap: wrap;} .wrap-company {padding: 5px;}
.white-txt {font-size: 14px;}